// Fonts
$Mono: Monaco, "Lucida Mono", monospace;
$Ideal: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
$Chronicle: 'Chronicle SSm A', 'Chronicle SSm B', Georgia, serif;

// Colors
$green: #396;
$darker-green: darken($green, 10);
$lighter-green: lighten($green, 10);
$brown: #630;
$light-brown: desaturate(lighten($brown, 60), 60);

$black: #454545;
$darker-gray: #CCC;
$medium-gray: #999;
$gray: #555;
$light-gray: #DDD;
$lighter-gray: #EEE;
$lightest-gray: #F6F6F6;

$red: #C00;
$light-red: #F99;
$gold: #FFC300;
$white: #FFF;
$blue: #0073cf;

// search result item width
$people-column-width: 90px;
