interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.balancedpayments.com:443/credits?meta.exchange_id=2&limit=25&offset=0
  response:
    body: {string: !!python/unicode "{\n  \"credits\": [],\n  \"meta\": {\n    \"\
        last\": \"/credits?limit=25&meta.exchange_id=2&offset=0\",\n    \"next\":\
        \ null,\n    \"href\": \"/credits?limit=25&meta.exchange_id=2&offset=0\",\n\
        \    \"limit\": 25,\n    \"offset\": 0,\n    \"previous\": null,\n    \"total\"\
        : 0,\n    \"first\": \"/credits?limit=25&meta.exchange_id=2&offset=0\"\n \
        \ },\n  \"links\": {}\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.balancedpayments.com:443/credits?meta%5Bcontains%5D=exchange_id&limit=25&offset=0
  response:
    body: {string: !!python/unicode "{\n  \"credits\": [],\n  \"meta\": {\n    \"\
        last\": \"/credits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\",\n \
        \   \"next\": null,\n    \"href\": \"/credits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\"\
        ,\n    \"limit\": 25,\n    \"offset\": 0,\n    \"previous\": null,\n    \"\
        total\": 0,\n    \"first\": \"/credits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\"\
        \n  },\n  \"links\": {}\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.balancedpayments.com:443/debits?meta%5Bcontains%5D=exchange_id&limit=25&offset=0
  response:
    body: {string: !!python/unicode "{\n  \"meta\": {\n    \"last\": \"/debits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\"\
        ,\n    \"next\": null,\n    \"href\": \"/debits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\"\
        ,\n    \"limit\": 25,\n    \"offset\": 0,\n    \"previous\": null,\n    \"\
        total\": 0,\n    \"first\": \"/debits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\"\
        \n  },\n  \"links\": {},\n  \"debits\": []\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
