interactions:
- request:
    body: '{"body": "https://gratipay.com/TheATeam/", "labels": ["Review"], "title":
      "review The A Team"}'
    headers: {}
    method: POST
    uri: https://api.github.com:443/repos/gratipay/inside.gratipay.com/issues
  response:
    body: {string: !!python/unicode '{"url":"https://api.github.com/repos/gratipay/inside.gratipay.com/issues/267","labels_url":"https://api.github.com/repos/gratipay/inside.gratipay.com/issues/267/labels{/name}","comments_url":"https://api.github.com/repos/gratipay/inside.gratipay.com/issues/267/comments","events_url":"https://api.github.com/repos/gratipay/inside.gratipay.com/issues/267/events","html_url":"https://github.com/gratipay/inside.gratipay.com/issues/267","id":89458142,"number":267,"title":"review
        The A Team","user":{"login":"gratipay-gremlin","id":12961261,"avatar_url":"https://avatars.githubusercontent.com/u/12961261?v=3","gravatar_id":"","url":"https://api.github.com/users/gratipay-gremlin","html_url":"https://github.com/gratipay-gremlin","followers_url":"https://api.github.com/users/gratipay-gremlin/followers","following_url":"https://api.github.com/users/gratipay-gremlin/following{/other_user}","gists_url":"https://api.github.com/users/gratipay-gremlin/gists{/gist_id}","starred_url":"https://api.github.com/users/gratipay-gremlin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gratipay-gremlin/subscriptions","organizations_url":"https://api.github.com/users/gratipay-gremlin/orgs","repos_url":"https://api.github.com/users/gratipay-gremlin/repos","events_url":"https://api.github.com/users/gratipay-gremlin/events{/privacy}","received_events_url":"https://api.github.com/users/gratipay-gremlin/received_events","type":"User","site_admin":false},"labels":[{"url":"https://api.github.com/repos/gratipay/inside.gratipay.com/labels/Review","name":"Review","color":"CC0099"}],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2015-06-19T03:51:39Z","updated_at":"2015-06-19T03:51:39Z","closed_at":null,"body":"https://gratipay.com/TheATeam/","closed_by":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"c4c0ab7123769a17be70b808d89d8eac"']
      location: ['https://api.github.com/repos/gratipay/inside.gratipay.com/issues/267']
      status: [201 Created]
    status: {code: 201, message: Created}
version: 1
