#homepage {

    #main {
        margin-top: 0;
    }

    #banner {
        height: auto;
        background-size: 40%;
        padding: 128px 0 0 ! important;
        margin: 0 ! important;
        color: $black;

        h1 {
            color: $white;
            font-size: 28px;
            height: 128px;
            line-height: 128px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            max-width: none;
            margin: 0;
            padding: 0;

            .complete { display: none; }

        }

        .field {
            padding: 0;
            input {
                outline-color: $gold;
            }
            margin: 0 ! important;
            p.fine-print {
                color: $white;
                a {
                    color: $white;
                }
            }
            p.help {
                color: $gold ! important;
            }
        }
    }

    #content {
        text-align: center;

        a.button:hover {
            background: $darker-green;
        }

        .payment-complete {
            padding-top: 60px;
            .fine-print {
                padding: 0;
            }
            .twitter-container {
                padding-top: 20px;
            }
        }

        #what-why {
            display: none;
        }
        p.prose {
            text-align: justify;
            width: 55%;
            margin: 0 auto 1em;
        }

        #braintree-container {
            margin-top: 20px;
            .braintree-placeholder {
                margin-bottom: 0;
                height: 0;
            }
            .braintree-sheet__container {
                margin-bottom: 0;
            }
            &.failed {
                color: $gold;
                font: normal 24px/24px $Mono;
                padding-top: 118px;
            }
            &.offline {
                color: white;
                padding-top: 78px;
                label { display: none; }
                .fine-print {
                    display: block;
                    color: $gold;
                }
            }
        }

        fieldset {
            margin: 3em 0 0.5em;
            border: 1px solid $light-brown;
            border-style: solid none none;
            position: relative;
            padding: 0;

            legend {
                display: block;
                position: relative;
                top: 0px;
                font: italic 14px/18px $Chronicle;
                border: 1px solid $light-brown;
                border-style: none solid;
                color: $light-brown;
                background: white;
                padding: 0 7px;
                text-align: center;
            }

            h2.down-more {
                margin-top: 4em;
            }

            &.charging {
                border: none;
                margin: 0;
                padding: 0 20px 20px;
                min-height: 267px;
                .loading {
                    color: $darker-green;
                    font: bold 14px/14px $Ideal;
                    position: absolute;
                    top: 100px;
                    text-align: center;
                    width: 100%;
                }
            }

            &.campaign {
                legend {
                    border-color: $brown;
                    color: $brown;
                }
                border-color: $brown;
                border-style: solid;
                h2 img {
                    width: 256px;
                }
                .stats {
                    padding: 20px 40px;
                    .stat {
                        width: 33%;
                        float: left;
                        strong { font: normal 24px/28px $Ideal; }
                        &.main strong { font-weight: bold; font-size: 28px; }
                        .note {
                            margin: 2px 0 40px;
                            padding: 0;
                        }
                    }
                }
                .partners {
                    padding: 20px 0 40px;
                    .note {
                        padding: 0 0 20px;
                    }
                    a {
                        display: inline-block;
                        width: 80px;
                        height: 48px;
                        padding: 0 10px;
                        img {
                            height: 48px;
                            vertical-align: text-top;
                            filter: grayscale(100%);
                        }
                        &:hover {
                            background: none;
                            img {
                                filter: grayscale(0);
                            }
                        }
                        &.libraries-io img {
                            height: 32px;
                        }
                    }
                }
            }

            .field {
                label, fieldset legend {
                    display: block;
                    text-align: left;
                    font: normal 10px/12px $Ideal;
                    text-transform: uppercase;
                    margin: 2em 0 0;
                    border: none;
                }
                fieldset {
                    border: none;
                    position: static;
                    margin: 0;
                    padding: 0;
                    legend {
                        color: $black;
                        position: static;
                        padding: 2em 0 0;
                    }
                }
                input {
                    width: 100%;
                    padding: 10px;
                    font: normal 24px/36px $Ideal;
                    height: auto;
                }
                .fine-print{
                    padding: 0.5em 0 0;
                    margin: 0;
                }
                &.amount {
                    margin-top: 1em;

                    label {
                        display: inline;
                        margin: 0 0 0 -24px;
                        font: bold 32px/36px $Ideal;
                    }
                    input {
                        max-width: 256px;
                        width: 50%;
                        text-align: center;
                    }
                    .help {
                        text-align: center;
                    }
                }
                &.email_address, &.follow_up {
                    .fine-print {
                        text-align: left;
                    }
                }
                &.follow_up {
                    text-align: left;
                    .fancy-radio {
                        position: relative;
                        display: inline-block;
                        padding-right: 20px;

                        input {
                            position: absolute;
                            left: -99999px;

                            &:checked + label,
                            &:not(:checked) + label {
                                text-transform: none;
                                font: normal 24px/36px $Ideal;
                                margin: 0.5em 0 0;

                                position: relative;
                                padding-left: 28px;
                                cursor: pointer;
                                line-height: 20px;
                                display: inline-block;
                            }
                            &:not(:checked) + label {
                                color: $medium-gray;
                            }

                            &:checked + label:before,
                            &:not(:checked) + label:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 18px;
                                height: 18px;
                                border: 1px solid $brown;
                                border-radius: 100%;
                                background: $white;
                            }
                            &:not(:checked) + label:after,
                            &:checked + label:after {
                                content: '';
                                width: 12px;
                                height: 12px;
                                background: $green;
                                position: absolute;
                                top: 4px;
                                left: 4px;
                                border-radius: 100%;
                                transition: all 0.1s ease;
                            }

                            &:not(:checked) + label:after {
                                opacity: 0;
                                transform: scale(0);
                            }
                            &:checked + label:after {
                                opacity: 1;
                                transform: scale(1);
                            }
                        }
                    }
                }
                textarea {
                    width: 100%;
                    height: 192px;
                    padding: 10px;
                }

                .help {
                    display: none;
                    color: red;
                    text-align: left;
                }
                &.error {
                    .help {
                        display: block;
                    }
                    input {
                        border-color: red;
                        background: pink;
                    }
                }
            }

            button[type=submit] {
                .processing {
                    display: none;
                }
                &.processing {
                    .active { display: none; }
                    .processing { display: inline; }
                }
            }
        }
    }
}
