#homepage {

    #banner a {
        display: block;
        height: 100%;
        width: 100%;
        h1 {
            // override .really-long
            font-size: 28px;
            line-height: 33px;
        }
    }

    #main {
        position: relative;
        .nav {
            margin-bottom: 10px;
        }
    }

    .apply {
        position: absolute;
        top: 0;
        right: 0;
    }
}
