#identities {
    padding-top: 20px;

    .card {
        height: 96px;
        width: 46%;
        float: left;
        margin: 0 8% 8% 0;
        padding: 20px;
        position: relative;
        @include border-radius(5px);
        @include box-shadow(0, 0, 10px, $black);

        &:nth-child(even) {
            margin-right: 0;
        }

        &.add {
            background: #f6f6f6;
            color: #aaa;
            border-style: dashed;
            @include box-shadow(0,0,0);
            border: 2px dashed #ccc;

            &:hover {
                color: $black;
                background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #ffffff 0%, #f6f6f6 70px);
            }
        }

        img {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }

        h2 {
            white-space: nowrap;
            margin: 0;
            padding: 0;
        }

        .status {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
}
