#profile-edit {
    .statement {
        textarea {
            width: 98%;
            padding: 1%;
            resize: vertical;
        }
        textarea, select.langs {
            margin-top: 6px;
        }
        .help {
            font: normal 12px/12px $Ideal;
        }
    }
    .projects {
        position: relative;
    }
}
