#search #content {

    form {
        text-align: center;
        margin: 20px 0 60px;
        button {
            font: normal 14pt/20pt $Ideal;
            padding: 4pt 10pt;
            height: 26pt;
        }
        input {
            font: normal 16pt/20pt $Ideal;
            width: 50%;
            height: 24pt;
            margin-right: 8px;
        }
    }

    h2 {
        margin-top: 4em;
        &:first-of-type {
            margin-top: 0;
        }
    }

    .description strong {
        font-weight: bold;
    }
}
