#banner {
    position: relative;
    z-index: 0;

    .avatar {
        position: relative;
        height: 192px;
        max-width: 576px; // to allow for blur
        z-index: 2;
        overflow: hidden;

        img {
            display: block;
            position: absolute;
            top: 16px;
            left: 16px;
            width: 160px;
            height: 160px;
            border: 2px solid $white;
            @include border-radius(5px);
            box-shadow: 0px 0px 32px 16px rgba($black, 0.5);
            background: white;

            &.platform {
                width: 32px;
                height: 32px;
                @include border-radius(5px);
                border: 2px solid $white;
                top: auto;
                left: 136px;
                bottom: 24px;
                box-shadow: none;
            }
        }

        .is-suspicious-label {
            text-align: right;
            font-size: 12px;
            text-transform: uppercase;
            display: block;
            color: $white;
            position: absolute;
            bottom: 24px;
            left: 24px;
            z-index: 3;
            background: $black;
            border: 2px solid $white;
            @include border-radius(5px);

            padding: 1px 8px;
        }

        &.is-suspicious {
            background: transparentize($light-red, 0.1);
        }
    }

    .details {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 2;
        color: $white;
        text-shadow: -1px 1px 1px rgba($brown, 1);
        text-align: right;
        background: $black;
        padding: 3px 7px;
        @include border-radius(5px);
        box-shadow: 0px 0px 32px 16px rgba($black, 0.5);
        border: 2px solid $white;

        p {
            margin: 0;
            padding: 0;
        }

        table {
            margin: 0 0 6px auto;
            th {
                text-align: right;
            }
            td {
                padding: 0 0 0 12px;
                &:first-child {
                    padding-left: 0;
                }
            }
            .label {
                text-align: center;
            }
        }
    }

    .admin-details {
        position: absolute;
        top: 24px;
        left: 24px;
        max-width: 45%;
        padding: 2px 16px 1px;
        color: white;
        background: $black;
        border: 2px solid $white;
        z-index: 2;
        @include border-radius(5px);
        box-shadow: 0px 0px 32px 16px rgba($black, 0.5);

        a {
            text-decoration: underline;
            color: $white;
        }
    }

    h1 {
        font: bold 64px/80px $Ideal;
        position: absolute;
        bottom: 4px;
        right: 16px;
        z-index: 2;
        text-align: right;
        color: $white;
        text-shadow: -1px 1px 1px rgba($brown, 1);
        max-width: 386px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: none; // turn on in JS to avoid fouc

        &.long {
            font-size: 32px;
            line-height: 40px;
            bottom: 8px;
        }
        &.really-long {
            font-size: 16px;
            line-height: 20px;
            bottom: 12px;
        }
    }

    .homepage {
        margin: 0;
        color: $white;
        position: absolute;
        bottom: 16px;
        right: 16px;
        font: bold 28px/33px $Ideal;
        text-shadow: -1px 1px 1px rgba($brown, 1);
        text-align: right;

        u {
            font: normal 21px/27px $Ideal;
        }
    }
}
