/*
 * ======= MARKUP =======
 *
 * <div class="modal-wrapper">
 *     <div class="modal">
 *         <header>
 *             <h2>Title!</h2>
 *             <button class="close-modal">
 *               X
 *             </button>
 *         </header>
 *         <section>
 *             Your content here.
 *         </section>
 *     </div>
 * </div>
 *
 * ======= VISUAL EXPLANATION =======
 *
 * div.modal-wrapper (full-screen)
 *
 *             div.modal (horizontally centered)
 *              ----------------------------
 *             |  header       (button) [x] |
 *             |____________________________|
 *             |  section                   |
 *             |                            |
 *             |                            |
 *             |                            |
 *             |                            |
 *              ----------------------------
 *
 * ======= NOTES =======
 *
 * - The modal width is not fixed. Set width on .modal directly, or it'll
 *   be decided by child content
 * - To open/close, show/hide the .modal-wrapper div. Hidden by default.
 */

.modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    background: transparentize($light-brown, 0.3);
    z-index: 900;
}

.modal {
    $border-radius: 5px;
    $header-height: 55px;

    display: inline-block;
    position: relative;
    @include border-radius($border-radius);
    margin-top: 15vh;

    header {
        text-align: left;
        width: 100%;
        height: $header-height;
        border: 1px solid $darker-black;
        background: $darker-black;

        @include border-radius($border-radius $border-radius 0 0);

        h2 {
            color: $almost-white;
            margin: 0;
            font-size: 20px;
            padding: 0px 20px 0px 20px;
            line-height: $header-height;
            vertical-align: middle;
            text-transform: none;
        }

        button {
            border-top: 1px solid $darker-black;
            border-right: 1px solid $darker-black;
            border-bottom: 1px solid $darker-black;
            color: $almost-white;
            vertical-align: middle;
            position: absolute;
            top: 0px;
            right: 0px;
            height: $header-height;
            width: $header-height;
            background: none;
            @include border-radius(0 $border-radius 0 0);

            &:hover {
                background-color: $gray;
                border-top: 1px solid $gray;
                border-right: 1px solid $gray;
                border-bottom: 1px solid $gray;
            }
        }
    }

    section {
        border-right: 1px solid $darker-black;
        border-left: 1px solid $darker-black;
        border-bottom: 1px solid $darker-black;
        text-align: left;
        overflow: auto;
        max-height: 70vh;
        background: white;
        @include border-radius(0 0 $border-radius $border-radius);
    }
}
