#header {
    .nav {
        line-height: 100%;
        display: inline-block;
        height: 78px;
        float: left;

        li {
            float: left;
            margin: 0;
            a {
                height: 78px;
                font: normal 16px/16px $Ideal;
                display: inline-block;
                padding: 27px 12px 31px;
                border-top: 4px solid transparent;
                max-width: 160px;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $black;
                &.selected {
                    border-top-color: $brown;
                    background: transparentize($brown, 0.9);
                    font-weight: bold;
                }
                &:hover {
                    border-top-color: $gold;
                    background: transparentize($gold, 0.8);
                }
            }
        }
    }
}

#sidebar {
    .nav {
        li {
            margin: 0 54px 0 0;
        }
        a {
            height: 26px;
            padding: 7px 0 0 36px;
            font: normal 14px/14px $Ideal;
            text-indent: -20px;
            display: block;
            font-weight: normal;
            position: relative;
            color: $black;

            &.selected {
                background: transparentize($green, 0.8);
                box-shadow: -2px 2px 2px rgba($black, 0.3);
                font-weight: bold;
                &:after { /* Thank you, http://cssarrowplease.com/! :-) */
                    left: 100%;
                    top: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(0, 0, 0, 0);
                    border-left-color: transparentize($green, 0.8);
                    border-width: 12px;
                    margin-top: -12px;
                }
                &:hover {
                    background: transparentize($gold, 0.8);
                    &:after {
                        border-left-color: transparentize($gold, 0.8);
                    }
                }
            }
            &:hover {
                background: transparentize($gold, 0.8);
            }
        }
    }
}

#content {
    .nav {
        @include clearfix;
        line-height: 100%;
        display: block;
        position: relative;
        margin-bottom: 20px;
        li {
            display: inline;
            margin: 0;
            float: left;
            padding: 0 5px;
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
            a {
                font: normal 14px/14px $Ideal;
                height: 24px;
                display: inline-block;
                padding: 5px 0;
                margin-bottom: 5px;
                color: $gray;
                &.selected {
                    padding-bottom: 3px;
                    border-bottom: 2px solid $green;
                    font-weight: bold;
                }
                &:hover {
                    background: transparentize($gold, 0.8);
                }
            }
        }
    }
}
