.sign-in {
    display: inline-block;
    vertical-align: middle;

    button {
        background: $green;
        @include border-radius(3px);
        color: #fff;
        padding: 0 8px;
        display: block;
        font-size: 13px;
        line-height: 25px;

        &:hover {
            background: $darker-green;
        }
    }

    #header & {
        float: right;

        button {
            @include border-radius(0);
            border-top: 4px solid transparent;
            background: none;
            padding: 21px 12px 23px;
            color: $black;

            font-size: 16px;
            line-height: 16px;

            .caret {
                border-top: 8px solid $black;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                margin-top: 4px;
            }
        }

        &:hover {
            button {
                background: transparentize($gold, 0.8);
                border-color: $gold;
            }
        }
    }
}

#sign-in-modal .modal {
    max-width: 400px;
    width: 90%;
    section {
        padding: 20px;
        text-align: center;

        p {
            font-size: 14px;
        }
    }

    .email-form input {
        color: $black;
        height: auto;
        padding: 10px;
    }

    .auth-links {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .auth-links li {
        display: inline-block;
        margin: 5px 0px 0px 0px;

        & > * {
            display: inline;
        }
    }

    .auth-links button, .email-form button {
        text-align: left;
        background: $green;
        color: white;
        position: relative;
        font: normal 14px $Ideal;

        &:hover {
            background: $darker-green;
        }
    }

    .email-form button {
        padding: 15px 15px 15px 15px;
        margin: 15px 0px 20px 0px;
        text-align: center;
    }

    .auth-links button {
        padding: 15px 45px 15px 15px; // 30px for icon on the right

        span {
            vertical-align: middle;
        }

        span.icon {
            position: absolute;
            right: 9px;
            font-size: 16px;
        }

        span.icon.facebook      { @include has-icon("facebook"); }
        span.icon.twitter       { @include has-icon("twitter"); }
        span.icon.google        { @include has-icon("google"); }
        span.icon.github        { @include has-icon("github"); }
        span.icon.openstreetmap { @include has-icon("openstreetmap"); }
        span.icon.bitbucket     { @include has-icon("bitbucket"); }
    }
}

@media (max-width: 600px) {
    #sign-in-modal .modal .auth-links li {
        display: block;

        button {
            width: 100%;
        }
    }
}
