.status-icon {
    display: inline-block;
    width: 14px;
    font: normal 14px/14px icomoon;
    &.success { color: $green; }
    &.warning { color: $gold; }
    &.failure { color: $red; }
    &.feature { color: $blue; }
}
