.icon {
    font: normal 20px/20px 'icomoon';
}

#content {
    .important-thing-at-the-top {
        margin: 20px 0 60px;
        text-align: center;
        &.description {
            font: normal 18pt/24pt $Chronicle;
            &.long {
                font: normal 11pt/15pt $Chronicle;
            }
            padding: 0 17%;
        }
    }

    .instructions {
        text-align: center;
        margin: 0 0 30px;
        font-family: $Ideal;
    }

    .note, .sorry, .fine-print {
        font: normal 12px/15px $Ideal;
        color: $medium-gray;
        a {
            font-weight: normal;
            text-decoration: underline;
            color: $medium-gray;
        }
    }
    .sorry, .fine-print {
        text-align: center;
    }
    .listing-name {
        color: $black;
        font: bold 20px/24px $Ideal;
    }
    .listing-details {
        color: $medium-gray;
        font: normal 12px/15px $Ideal;
        a {
            font-weight: normal;
            text-decoration: underline;
        }
    }
}
