{% macro giving_table(state, tips, total) %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ _("Recipient") }}</th>
                {% if state != 'cancelled' %}
                    <th class="figure">{{ _("Amount ($)") }}</th>
                {% endif %}
                <th class="figure">{{ _("Last Set") }}</th>
                <th class="figure">{{ _("First Set") }}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                {% if state != 'cancelled' %}
                    <td class="figure total">{{ total }}</td>
                {% endif %}
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
        {% for tip in tips %}
        <tr>
            <td class="recipient">
                {% if state == 'unclaimed' %}
                    <img class="platform-icon" src="{{ website.asset('platforms/%s.12.png' % tip.platform) }}" />
                    <a href="/{{ tip.tippee }}/">{{ tip.user_name }}</a>
                {% else %}
                    <a href="/{{ tip.tippee }}/">{{ tip.tippee }}</a>
                {% endif %}
            </td>
            {% if state != 'cancelled' %}
                <td class="figure">{{ tip.amount }}</td>
            {% endif %}
            <td class="figure">{{ to_age(tip.mtime) }}</td>
            <td class="figure">{{ to_age(tip.ctime) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
