{% macro giving_table(state, giving, totals) %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ _("Team") }}</th>
                {% if state != 'cancelled' %}
                    <th class="figure">{{ _("Amount ($)") }}</th>
                    {% if totals.due > 0 %}
                        <th class="figure">{{ _("Due ($)") }}</th>
                    {% endif %}
                {% endif %}
                <th class="figure">{{ _("First Set") }}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                {% if state != 'cancelled' %}
                    <td class="figure total">{{ totals.amount }}</td>
                    {% if totals.due > 0 %}
                        <td class="figure total">{{ totals.due }}</td>
                    {% endif %}
                {% endif %}
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
        {% for payment_instruction in giving %}
        <tr>
            <td class="team">
                <a href="/{{ payment_instruction.team_slug }}/">{{ payment_instruction.team_name }}</a>
            </td>
            {% if state != 'cancelled' %}
                <td class="figure">{{ payment_instruction.amount }}</td>
                {% if totals.due > 0 %}
                    <td class="figure">{{ payment_instruction.due or '0.00' }}</td>
                {% endif %}
            {% endif %}
            <td class="figure">{{ _("{0} ago", to_age(payment_instruction.ctime)) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
