{% set current_page = request.path.raw.split('/')[1] %}
{% for i, project in enumerate(project_list, start=1) %}
    <tr>
        <td class="item">
            <img class="avatar" src="{{ project.get_image_url('small') }}">
            {% if project.package %}
            <div class="package-manager"><img src="{{ website.asset('npm-n.png') }}"></div>
            {% endif %}
            <a class="listing-name" href="/{{ project.slug }}/">{{ project.name }}</a>

            <div class="listing-details{% if current_page == '~' %} profile{% endif %}">
                <span class="i">{{ i }}</span>
                <span class="status">&middot;
                    <a href="{{ project.review_url }}"><span
                        class="status-icon {{ icons.REVIEW_MAP[project.status] }}"
                        >{{ icons.STATUS_ICONS[icons.REVIEW_MAP[project.status]]|safe }}</span
                        >{{ i18ned_statuses[project.status] }}</a>
                </span>
                {% if project.status == 'approved' %}
                <span class="receiving">&middot;
                {% if project.nreceiving_from %}
                    {{ ngettext( '{amount}/wk from one giver'
                               , '{amount}/wk from {number_of} givers'
                               , project.nreceiving_from
                               , amount=format_currency(project.receiving, 'USD')
                               , number_of=project.nreceiving_from
                                ) }}
                {% else %}
                    {{ _('no givers yet') }}
                {% endif %}
                </span>
                {% endif %}
                <span class="ctime">&middot; {{ _("joined {ago}",
                    ago=to_age(project.ctime, add_direction=True)) }}</span>
                <span class="owner">&middot;
                    {{ _( "owned by {a}{owner}{_a}"
                        , owner='~'+project.owner
                        , a=('<a class="owner" href="/~{}/">'|safe).format(project.owner)
                        , _a='</a>'|safe
                         ) }}
                </span>
            </div>
        </td>
    </tr>
{% endfor %}
