{% set start = max(1, current_page - 5) %}
{% set last_page = ceil(total_project_count / projects_per_page) | int %}
{% set end = min(start + 9, last_page) %}

<ul class="nav">
    {% if current_page > 1 %}
    <li>
        <a href="/?status={{status_filter}}&page={{current_page - 1}}">< Previous</a>
    </li>
    {% endif %}

    {% for i in range(start, end + 1) %}
    <li>
        <a class="{{'selected' if current_page == i }}" href="/?status={{status_filter}}&page={{i}}">{{i}}</a>
    </li>
    {% endfor %}

    {% if current_page < last_page %}
    <li>
        <a href="/?status={{status_filter}}&page={{current_page + 1}}">Next ></a>
    </li>
    {% endif %}
</ul>
