{% from 'templates/auth.html' import auth_button with context %}

{#
 # This modal has content that can be toggled based on context.
 #
 # - The two contexts currently available are 'sign-in-to-continue' and
 #   'sign-in-or-signup'.
 # - Every element with togglable text is marked with .sign-in-togglable.
 # - The versions of text are present in the data-sign-in-to-continue and
 #   data-sign-in-or-signup attributes for each togglable element.
 # - We also place default text so that JS failures don't render the modal
 #   completely useless.
 #
 #}

<div id="sign-in-modal" class="modal-wrapper">
    <div class="modal">
        <header>
            <h2 class="sign-in-togglable"
                data-sign-in-to-continue="{{ _('Sign In') }}"
                data-sign-in-or-sign-up="{{ _('Sign In / Sign Up') }}">
                {{ _('Sign In / Sign Up') }}
            </h2>
            <button class="close-modal icon">
                &#xe010;
            </button>
        </header>
        <section>
            <p class="sign-in-togglable"
               data-sign-in-to-continue="{{ _('Enter your email to sign in to Gratipay') }}"
               data-sign-in-or-sign-up="{{ _('Enter your email to sign in or create an account on Gratipay') }}">
                {{ _('Enter your email to sign in or create an account on Gratipay') }}
            </p>

            <form class="email-form">
                <input type="email" placeholder="sam@example.net" required/>

                <button class="button" type="submit">
                    {{ _("Email me a link") }}
                </button>
            </form>

            <p>
                {{ _('Alternatively, use a third-party provider:') }}
            </p>
            <ul class="auth-links">
                {% for platform in website.signin_platforms %}
                <li>
                    {% call auth_button(platform.name, 'opt-in') %}
                        <span class="text">{{ platform.display_name }}</span>
                        <span class="icon {{platform.name}}"></span>
                    {% endcall %}
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
