{% extends "templates/base.html" %}

{% block banner %}
<div class="avatar">
    <img class="avatar" src="{{ team.get_image_url('large') }}">
</div>

<div class="details mono{% if not team.is_approved %} luxury{% endif %}">
    {% if team.is_approved %}
    <table>
        <tr>
            <th class="label">{{ _("Weekly") }}</th>
            <th>&#x03A3; &nbsp;</th>
            <th>n</th>
        </tr>
        <tr>
            <td class="label">{{ _("Receiving") }}</td>
            <td class="total-receiving" data-team="{{ team.id }}">{{ format_currency(team.receiving, 'USD') }}</td>
            <td class="nreceiving-from" data-team="{{ team.id }}">{{ team.nreceiving_from }}</td>
        </tr>
        <tr>
            <td class="label">{{ _("Sharing") }}</td>
            <td>{{ format_currency(0, 'USD') }}</td>
            <td>0</td>
        </tr>
    </table>
    {% endif %}

    <p class="luxury">
    {% if team.is_approved %}
    {{ _('Joined {ago}', ago=to_age(team.ctime, add_direction=True)) }}
    {% else %}
    {{ _('Applied {ago}', ago=to_age(team.ctime, add_direction=True)) }}
    {% endif %}
    </p>
</div>

{{ super() }}
{% endblock %}

{% block sidebar %}

{% if user.ADMIN %}
<form id="status-knob" action="set-status.json">
    <select name="status">
        <option {{ 'selected' if team.is_approved == None else '' }}
            value="unreviewed">Under Review</option>
        <option {{ 'selected' if team.is_approved == False else '' }}
            value="rejected">Rejected</option>
        <option {{ 'selected' if team.is_approved == True else '' }}
            value="approved">Approved</option>
    </select>
    <br>
    <br>
    <button type="submit">Set Status</button>
    <br>
    <br>
</form>
{% endif %}

{% if user.participant == team.owner or user.ADMIN %}
    {% set current_page = request.path.raw.split('/')[2] %}
    {% set nav_base = '/' + team.slug %}
    {% set pages = [ ('/',            _('Profile'))
                   , ('/receiving/',  _('Receiving'))
                    ] %}
    {% if pages %}
    {% include "templates/nav.html" %}
    <br>
    {% endif %}
{% endif %}

{% if (user.participant.username != team.owner) and team.is_approved %}
    {% include "templates/your-payment.html" %}
{% endif %}

{% endblock %}
