body {
    padding: 0 12px;
}

#wrapper {
    max-width: 576px;
    margin: 0 auto;
}

#header {
    background: transparentize($white, 0.1);

    h1 {
        line-height: 100%;
        height: 64px;
        overflow: hidden;
        float: left;
        a {
            display: inline-block;
            border-top: 4px solid transparent;
            padding: 2px 16px 12px;
            img {
                display: inline-block;
                width: 160px;
            }
            &:hover {
                border-top-color: $gold;
                background: transparentize($gold, 0.8);
            }
        }
    }
    .you-are {
        float: right;
        white-space: nowrap;
        .quick-stats {
            font: normal 11px/13px $Mono;
        }
        li {
            text-align: right;
            float: left;
            a#sign-out {
                padding-right: 8px; // tweak to make icon placement look right
                .icon {
                    font: normal 20px/20px 'icomoon';
                }
            }
        }
    }
}

#banner {
    border: 1px solid $brown;
    border-style: solid none;
    height: 194px;
    background: $black url("banner.jpg") 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#main {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 40px 0;
    min-height: 356px; // golden ratio with 576
}

#sidebar {
    display: table-cell;
    width: 192px;
    vertical-align: top;
}

#content {
    width: 384px;
    display: table-cell;
    vertical-align: top;
    font: 300 14px/24px $Chronicle;

    .nav {
        margin-bottom: 40px;
    }
    h1 {
        color: $black;
        font: bold 28px/33px $Ideal;
        margin: 0 0 5px 0;
    }
    a:hover {
        background: transparentize($gold, 0.8);
    }
    ul {
        list-style: outside disc;
    }
}

#footer {
    border-top: 1px solid $brown;
    text-align: right;
}
