html, body, #wrapper { height: 100%; }

body {
    line-height: 100%;
}

#wrapper {
    max-width: 600px;
    margin: 0 auto;
}

#header {
    background: transparentize($white, 0.1);

    h1 {
        line-height: 100%;
        height: 78px;
        overflow: hidden;
        float: left;
        a {
            display: inline-block;
            border-top: 4px solid transparent;
            padding: 6px 10px 10px;
            img {
                display: inline-block;
                width: 180px;
            }
            &:hover {
                border-top-color: $gold;
                background: transparentize($gold, 0.8);
            }
        }
    }
    .you-are {
        float: right;
        white-space: nowrap;
        .quick-stats {
            font: normal 11px/13px $Mono;
        }
        li {
            text-align: right;
            float: left;
            a#sign-out {
                padding-right: 20px; // tweak to make icon placement look right
                .icon {
                    font: normal 20px/20px 'icomoon';
                }
            }
        }
    }
}

#banner {
    border: 1px solid $brown;
    border-style: solid none;
    height: 194px; // includes border
    background: $black;
    position: relative;

    h1 {
        font: bold 64px/80px $Ideal;
        color: $white;
        position: absolute;
        bottom: 4px;
        right: 16px;
        text-align: right;
    }
}

#main {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 40px 0;
}

#sidebar {
    display: table-cell;
    vertical-align: top;
    width: 148px;
    padding: 0 20px 0 0;

    .right {
        text-align: right;
    }

    p, table {
        line-height: 150%;
    }

    table {
        width: 100%;
        margin-bottom: 10px;
        .left {
            padding-right: 10px;
        }
    }

    .sign-in-to {
        line-height: 125%;
        .dropdown-toggle {
            margin-bottom: 3px;
        }
    }
}

#content {
    display: table-cell;
    vertical-align: top;
    font: 300 14px/24px $Chronicle;
    padding: 0 0 0 20px;

    .nav {
        margin-bottom: 40px;
    }
    h1 {
        color: $black;
        font: bold 28px/33px $Ideal;
        margin: 0 0 5px 0;
    }
    a:hover {
        background: transparentize($gold, 0.8);
    }
    ul {
        list-style: outside disc;
    }
}

.col {
    width: auto;
    margin: 0 auto;
}

.col0, .col1 {
    width: 50%;
}

.col0 {
    min-width: 420px;
}

.row {
    margin: 0 -20px;
    @include clearfix;
}

.col1 {
    float: left;
    padding: 0 20px;
}

.payment-footer {
    font: normal 12px $Ideal;
    text-align: center;
}

#footer {
    border-top: 1px solid $brown;
    padding: 10px 0;
    text-align: right;

    li {
        display: inline-block;
        margin: 0;

        a {
            display: inline-block;
            margin: 0 0.3em;
            padding: 0.25em 0.5em;

            .icon {
                font: normal 20px/20px 'icomoon';
            }

            color: $black;
            &:hover {
                color: $green;
            }
        }

        &:first-child:before {
            content: none;
        }
    }
}
