@media (max-width: 600px) {
    .luxury {
        display: none;
    }
    #header {
        text-align: center;
        h1 {
            float: none;
            display: block;
            margin: 0 auto;
        }
    }
    #banner {
        height: 128px;
        .avatar {
            height: 128px;
            img {
                width: 112px;
                height: 112px;
                top: 8px;
                left: 8px;
                box-shadow: 0px 0px 16px 8px rgba($black, 0.5);
                @include border-radius(3px);

                &.platform {
                    width: 21px;
                    height: 21px;
                    @include border-radius(3px);
                    border: 2px solid $white;
                    top: auto;
                    left: 94px;
                    bottom: 13px;
                    box-shadow: none;
                }
            }
            .is-suspicious-label {
                font-size: 10px;
                bottom: 13px;
                left: 13px;
            }
        }
        .details {
            font-size: 10px;
            box-shadow: 0px 0px 16px 8px rgba($black, 0.5);
            @include border-radius(3px);
            top: 8px;
            right: 8px;
        }
        .admin-details {
            top: 13px;
            left: 13px;
            font-size: 10px;
            padding: 1px 8px;
        }
        h1 {
            font-size: 32px;
            line-height: 40px;
            &.long {
                font-size: 16px;
                line-height: 20px;
            }
            &.really-long {
                font-size: 12px;
                line-height: 16px;
            }
        }
        .homepage {
            font-size: 18px;
            line-height: 22px;
            u {
            font-size: 14px;
            line-height: 22px;
            }
        }
    }
    #notice td {
        width: 1px;
    }
    #main {
        display: block;
        padding: 0 0 40px;
        min-height: 0;
    }
    #homepage {
        #main {
            .apply {
                top: 0;
            }
        }
    }
    #sidebar {
        padding-top: 20px;
    }
    #sidebar, #content {
        display: block;
        width: 100%;
    }
    #sidebar .nav {
        margin: 0 0 20px;
        li {
            margin: 0;
            padding: 0 5px;
            display: inline;
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
            a {
                text-indent: 0;
                display: inline-block;
                height: 24px;
                padding: 5px 0;
                margin-bottom: 5px;
                &.selected {
                    background: none;
                    box-shadow: none;
                    &:after { content: none; }
                    border-bottom: 2px solid $green;
                    padding-bottom: 3px;
                }
            }
        }
    }
    #content {
        .nav {
            margin-bottom: 20px;
            li {
                float: none;
            }
        }
        h1 {
            margin-top: 40px;
        }
    }
}
