@media (max-width: 600px) {
    #main {
        display: inline;
    }
    #sidebar, #content {
        display: block;
        width: 100% !important;
    }
    #sidebar .nav {
        margin: 20px 0;
        li {
            margin: 0;
            padding: 0 5px;
            display: inline;
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
            a {
                text-indent: 0;
                display: inline-block;
                height: 24px;
                padding: 5px 0;
                margin-bottom: 5px;
                &.selected {
                    background: none;
                    box-shadow: none;
                    &:after { content: none; }
                    border-bottom: 2px solid $green;
                    padding-bottom: 3px;
                }
            }
        }
    }
    #content {
        .nav {
            margin-bottom: 20px;
            li {
                float: none;
            }
        }
        h1 {
            margin-top: 40px;
        }
    }
}
