// Buttons and Knobs

button::-moz-focus-inner {

    /* "I found out that Firefox adds an extra margin/padding to button
     * elements that cannot be changed by standard CSS, you can however
     * add the following to make it behave"
     *
     *  http://stackoverflow.com/questions/5939781/
     */

    border: 0;
    padding: 0;
}

button,
.button {
    background: $gray;
    border: 0;
    color: white;
    font: normal 13px $Ideal;
    margin: 0 0 0 1px;
    padding: 5px 8px;
    white-space: nowrap;
    @include border-radius(3px);
    cursor: pointer;
    display: inline;

    &:disabled {
        background: $medium-gray;

        &:hover {
            cursor: default;
        }
    }
}
button:hover:not(:disabled),
.button:hover:not(:disabled) {
    background: $darker-gray;
}
button.selected:not(:disabled),
.button.selected:not(:disabled) {
    background: $green;
}
button.selected:hover:not(:disabled), button.selected.drag,
.button.selected:hover:not(:disabled), .button.selected.drag {
    background: $darker-green;
}

.buttons button {
    margin-top: 3px;
}
.apply-button {
    position: absolute;
    top: 0;
    right: 0;
}


.important-button {
    margin: 30px auto 30px;
    text-align: center;

    button.large, a.button.large {
        font: normal 16px/32px $Ideal;
        padding: 10px 16px;
        border-radius: 5px;

        .caret {
            border-top: 8px solid #fff;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            margin-top: 13px;
        }
    }
    .dropdown-menu {
                                    /* override components/sign_in */
        border-radius: 0 0 3px 3px  ! important;
        top: 50px                   ! important;
        width: 90%;
        left: 5%;
    }
}
